openapi: 3.1.0
info:
  title: Cursor Cloud Agent Messaging API
  version: 0.1.0
  description: |
    Send messages to a Cursor cloud agent, check status, and read conversation history.
    Auth is handled via the Custom GPT action configuration (custom header).
servers:
  - url: https://api.cursor.com
paths:
  /v0/agents/bc-f96ae828-a5c0-4a7b-b452-8ab8f520e1b4/followup:
    post:
      operationId: sendMessage
      summary: Send a message to the cloud agent
      description: |
        Sends a followup message to the agent. Processes asynchronously.
        Works on both RUNNING and FINISHED agents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                prompt:
                  type: object
                  required:
                    - text
                  properties:
                    text:
                      type: string
                      description: The message or task instructions to send
      responses:
        "200":
          description: Message accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
  /v0/agents/bc-f96ae828-a5c0-4a7b-b452-8ab8f520e1b4:
    get:
      operationId: getAgentStatus
      summary: Get agent status
      description: Returns CREATING, RUNNING, FINISHED, or EXPIRED.
      responses:
        "200":
          description: Agent status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                    enum: [CREATING, RUNNING, FINISHED, EXPIRED]
                  name:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
  /v0/agents/bc-f96ae828-a5c0-4a7b-b452-8ab8f520e1b4/conversation:
    get:
      operationId: getConversation
      summary: Read agent conversation history
      description: Returns all messages between user and agent.
      responses:
        "200":
          description: Conversation messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        role:
                          type: string
                        content:
                          type: string
